@font-face {
  font-family: "iconfont"; /* Project id 4083483 */
  src: url('iconfont.woff2?t=1684858920630') format('woff2'),
       url('iconfont.woff?t=1684858920630') format('woff'),
       url('iconfont.ttf?t=1684858920630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\e711";
}

.icon-wode1:before {
  content: "\e620";
}

.icon-biaoqian:before {
  content: "\e62b";
}

.icon-rss:before {
  content: "\e7ea";
}

.icon-pengyouquan-copy:before {
  content: "\e655";
}

.icon-gongjiao:before {
  content: "\e62d";
}

.icon-fanti:before {
  content: "\e6d8";
}

.icon-tongji:before {
  content: "\e622";
}

.icon-fenlei:before {
  content: "\e7e2";
}

.icon-plume:before {
  content: "\e960";
}

.icon-fenlei1:before {
  content: "\e63a";
}

.icon-wenzhang:before {
  content: "\ed21";
}

.icon-danmu:before {
  content: "\e600";
}

