@font-face {
  font-family: "iconfont"; /* Project id 4054497 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1683469217233') format('woff2'),
       url('iconfont.woff?t=1683469217233') format('woff'),
       url('iconfont.ttf?t=1683469217233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiuxian:before {
  content: "\e62a";
}

.icon-tongji:before {
  content: "\e60b";
}

.icon-dianying:before {
  content: "\e67f";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-rili:before {
  content: "\e86d";
}

.icon-biaoqian:before {
  content: "\e6bb";
}

.icon-guanyu:before {
  content: "\e634";
}

.icon-book:before {
  content: "\e60d";
}

.icon-yinle:before {
  content: "\e609";
}

.icon-bilibili:before {
  content: "\e60a";
}

